
<md-content layout="column" flex >
  <md-card>

    <md-toolbar class="md-table-toolbar md-default">
      <div class="md-toolbar-tools">
        <span>Opened Input Invoices</span>
        <div flex></div>
        <md-button class="md-raised" ng-click="closeReceipt()">Close RCPT</md-button>
        <md-button class="md-icon-button" ng-click="loadStuff()">
          <md-icon>refresh</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-table-container>
      <table md-table
        md-row-select="options.rowSelection"
        multiple="true"
        ng-model="selected"
        md-progress="promise">

        <thead md-head md-order="query.order" md-on-reorder="logOrder">
          <tr md-row>
            <th md-column md-order-by="name"><span>Number</span></th>
            <th md-column md-order-by="type"><span>Payment amount</span></th>
            <th md-column md-numeric md-order-by="calories.value" md-desc><span>Remaining amount</span></th>
            <th md-column md-numeric md-order-by="fat.value"><span>Circulation date</span></th>
            <th md-column md-numeric md-order-by="carbs.value"><span>Payment deadline</span></th>
            <th md-column md-numeric md-order-by="protein.value"><span>Business partner</span></th>
            <th md-column md-numeric md-order-by="iron.value" hide-gt-xs show-gt-lg><span>Iron (%)</span></th>
            <th md-column md-order-by="comment">
              <md-icon>comments</md-icon>
              <span>Comments</span>
            </th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row md-select="inputInvoice"
            md-on-select="logItem"
            md-auto-select="false"
            ng-repeat="inputInvoice in invoiceCtrl.inputInvoices | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
            <td md-cell>{{inputInvoice.number}}</td>
            <td md-cell>{{inputInvoice.paymentAmount}}</td>
            <td md-cell>{{inputInvoice.remainingAmount}}</td>
            <td md-cell>{{inputInvoice.circulationDate}}</td>
            <td md-cell>{{inputInvoice.paymentDeadline}}</td>
            <td md-cell hide-gt-xs show-gt-md>{{inputInvoice.businessPartner.name}}</td>
            <td md-cell ng-click="editComment($event, dessert)" ng-class="{'md-placeholder': !dessert.comment}">
              {{inputInvoice.comment || 'Add a comment'}}
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>

    <md-table-pagination
      md-limit="query.limit"
      md-limit-options="limitOptions"
      md-page="query.page"
      md-total="{{invoiceCtrl.inputInvoices.length}}"
      md-page-select="options.pageSelect"
      md-boundary-links="options.boundaryLinks"
      md-on-paginate="logPagination"></md-table-pagination>
  </md-card>
</md-content>
