<div ng-if="user.id">

  <business-partner></business-partner>

  <div layout="row">
    <div flex="45">
      <daily-statement type="'on load'"></daily-statement>
    </div>

    <div flex="10" layout="column" layout-align="center center">
      <closing-receipts type="'upper'"></closing-receipts>
    </div>

    <div flex="45">
      <input-invoice></input-invoice>
    </div>
  </div>

  <div layout="row">
    <div flex="45">
      <daily-statement type="'on benefit'"></daily-statement>
    </div>

    <div flex="10" layout="column" layout-align="center center">
        <closing-receipts type="'bottom'"></closing-receipts>
    </div>

    <div flex="45">
      <output-invoice></output-invoice>
    </div>
  </div>

</div>
