<md-card>
<div layout="column" ng-cloak>
  <md-content layout-padding>
    <form name="projectForm">
      <md-input-container>
        <label>Business partner</label>
          <md-select ng-model="someModel">
          <md-option ng-value="opt" ng-repeat="opt in neighborhoods2">{{ opt }}</md-option>
        </md-select>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Number</label>
        <input required md-no-asterisk name="description" ng-model="outputInvoice.number">
      </md-input-container>
      <md-input-container class="md-block">
        <label>Payment amount</label>
        <input ng-model="outputInvoice.paymentAmount">
      </md-input-container>
      <md-input-container class="md-block">
        <label>Remaining amount</label>
        <input ng-model="outputInvoice.remainingAmount">
      </md-input-container>  
      <md-input-container class="md-block">
        <label>Issuance date</label>
        <md-datepicker ng-model="outputInvoice.issuanceDate"></md-datepicker>
      </md-input-container>   
      <md-input-container class="md-block">
        <label>Circulation date</label>
        <md-datepicker ng-model="outputInvoice.circulationDate"></md-datepicker>
      </md-input-container>       
      <md-input-container class="md-block">
        <label>Payment deadline</label>
        <md-datepicker ng-model="outputInvoice.paymentDeadline"></md-datepicker>
      </md-input-container>   
      <md-button>Submit output invoice!</md-button>           
    </form>
  </md-content>
</div>
</md-card>