<md-toolbar layout="row" layout-align="center center">

  <section flex layout="row" layout-align="left center">
    <md-button ui-sref="home" class="md-raised">Home</md-button>
    <md-button ng-show="user.id" ui-sref="invoices" class="md-raised">Invoices</md-button>
    <md-button ng-show="user.id" ui-sref="dailyBankStatements" class="md-raised">Bank Statements</md-button>
    <md-button ng-show="user.id" ui-sref="outputInvoiceForm" class="md-raised">Output Invoice</md-button>
    <md-button ng-show="user.id"  class="md-raised">Reports</md-button>    
  </section>

  <section flex layout="row" layout-align="end center">
    <md-button ng-show="!user.id" ui-sref="sign_in" class="md-raised">Sign In</md-button>
    <md-button ng-show="!user.id" ui-sref="sign_up" class="md-raised">Sign Up</md-button>
    <p class="md-subhead" ng-show="user.id">You are signed in as {{ user.email }}</p>
    <md-button ng-show="user.id" ng-click="signOut()" class="md-raised">Sign Out</md-button>
  </section>

</md-toolbar>
